# Python virtual environments
venv/
.venv/
.venv-clean/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# User uploaded files
storage/pdfs/

# Notebook storage
storage/notebooks/

# Generated vector stores
storage/faiss/
faiss/
metadata/

# Local database
*.db
*.sqlite
*.sqlite3

# Project documentation / local files
PROJECT_STRUCTURE.txt
# Node / React / Vite
node_modules/
frontend/node_modules/
dist/
frontend/dist/.vite/
